<!DOCTYPE html>
<html>
<head  xmlns:th="http://www.thymeleaf.org">
<meta charset="ISO-8859-1">
<title>Pagina dei film</title>
<div th:replace="~{fragments :: head}"></div>
</head>
<body>
	<div th:replace="~{fragments :: link}"></div>
	<h1>I migliori film</h1>
	<div class="container"  th:each="movie:${movies}" >
		<div class="row">
			<div class="col">
				<div class="card verde" >
					<a  th:href="@{/movies/{id}(id=${movie.getId()})}" th:text="${movie.getTitolo()}" ></a>
				</div>
			</div>
		</div>
		
	</div>
	<div th:replace="~{fragments :: script}"></div>
</body>
</html>